.details-container {
    padding: 1rem;
    text-align: center;
}

.pokemon-box {
    padding: 1.5rem;
    border-radius: 1rem;
    background: #dcecd5;
    border: 2px solid #e2e2e2;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 1rem;
}

.img-big {
    width: 200px;
    height: 200px;
}

.back-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #333;
    color: rgb(215, 215, 215);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}